@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    background: url(images/bg-pattern-top-desktop.svg) no-repeat left 0 top 0, 
    url(images/bg-pattern-bottom-desktop.svg) no-repeat right 0 top 100px;
}

.container {
    margin: 50px auto;
    padding: 30px 50px;
}

.first-section{
    font-size: 13px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 50px;
}

.left-side {
    width: 400px;
}

p {
    line-height: 1.5;
}

h1 {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 20px;
    word-spacing: 5px;
}

.right-side {
    margin-left: 10px;
}

.reviews,.report,.besttech {
    background-color: hsl(300, 24%, 96%);
    border-radius: 8px;
    padding: 15px 10px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    font-weight: 700;
}
.images {
    display: inline;
}
.reviews {
    right: 100px;
}

.report {
    right: 50px;
}

.right-side {
    display: grid;
    align-self: flex-start;
}

.right-side  span {
    padding-left: 20px;
}

.second-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 50px;
    gap: 30px;
    font-size: 12px;
}

.box1,.box2,.box3 {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 30px 45px;
    color: hsl(300, 24%, 96%);
    height: fit-content;
}

.box1 {
    margin-top: 10px;
}

.box2{
    margin-top: 25px;
}

.box3 {
    margin-top: 35px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-bottom: 10px; 
    width: 40px; 
}


.name {
    display: inline-block;
    vertical-align: middle;
    font-size: 8px;
    padding-left: 5px;
}
h2 {
    padding-bottom: 5px;
}

.second-section span {
    font-size: 11px;
    color: hsl(333, 80%, 67%);
}

footer {
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    body {
        font-size: 15px;
    }
    .container {
        display: grid;
        margin: 25px 25px;
    }
    
    .left-side {
        text-align: center;
        margin: 0 auto;
    }
    .first-section,.second-section {
      grid-template-columns: 1fr;
    }
    .reviews,.report,.besttech {
        position: static;
        text-align: center;
    }
    .box1,.box2,.box3 {
        margin-top: 0;
    }
    .images {
        display: block;
        padding-bottom: 10px;
    }
    
  }

  @media only screen and (max-device-width: 480px) {
      body {
          font-size: 12px;
          background-image: url(images/bg-pattern-top-mobile.svg), 
          url(images/bg-pattern-bottom-mobile.svg);
          background-repeat: no-repeat, no-repeat;
          background-size: auto, 800px;
          background-position: top left, top 600px right -300px;
           
        }
        .container {
            width: 400px;
            margin: 0 auto;
      }
      
  }
